{% extends "layout.html" %}

{% block body   %}

<h3>  Hakkımızda </h3>
<hr>

<p>
Finans-Politik & Ekonomik Yorumlar Dergisi 1963 yılında kurulmuş ve hakemli bir sosyal bilimler dergisi olarak 55 yılı
aşkın bir süredir yayın hayatını kesintisiz sürdürmektedir. Kuruluşundan Mayıs 2003 tarihine kadar “Banka ve Ekonomik
Yorumlar Dergisi” adıyla yayınlanan dergimiz, bu tarihten itibaren ilgi alanı ekonomi ve finans alanlarını kapsayacak 
şekilde genişletilerek “Finans-Politik ve Ekonomik Yorumlar Dergisi” ismini almıştır. Finans-Politik & Ekonomik Yorumlar 
Dergisi’nin yayın hakları ve imtiyaz sahipliği Nisan 2018 itibariyle tüzel kişilik olarak Okan Üniversitesi’ne devrolmuştur.
Kuruluşundan bugüne kadar dergiye katkı sağlayanları saygı ve hürmet ile anıyoruz. 
</p>
</div>
{% endblock body %} 
